[submodule "SSL-Hardware-Development"]
	path = SSL-Hardware-Development
	url = https://github.com/DVA490-474-Project-Course/SSL-Hardware-Development
[submodule "centralised-ai"]
	path = centralised-ai
	url = https://github.com/DVA490-474-Project-Course/centralised-ai
[submodule "foc-code"]
	path = foc-code
	url = https://github.com/DVA490-474-Project-Course/foc-code
[submodule "stm32-code"]
	path = stm32-code
	url = https://github.com/DVA490-474-Project-Course/stm32-code
[submodule "robot-controller-interface"]
	path = robot-controller-interface
	url = https://github.com/DVA490-474-Project-Course/robot-controller-interface
